*{
    margin: 0;
    font-family: 'Work Sans';
    
}
.header{
    
    width: 1500px;
    height: 750px;
    background-image: url('../images/banner/banner3.png');
    text-align: right;
}
.header .btn-primary{
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1212px;
    top: 578px;
}
.btn-primary{
    color: #005FAC;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 23px;
    height: 64px;
    border-radius: 5px;
    background: #FFFFFF;
    
}
/* banner part  */
.banner-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    right: 230px;
    
}
.banner-description{
    position: absolute;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 32px;
    text-align: right;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    color: #FFFFFF;
} 
/* failure part  */
.failures{
    margin-bottom: 130px;
    margin-left: 220px;
    margin-right: 200px;
}
.img-size{
    width: 569px;
    margin-top: 131px;
    height: 724px;
    margin-right: 80px;

}
.section2-right-side{
margin-top: 330px;
}
.section2-content-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .section2-right-side p span {
    color: rgb(11, 207, 11);
    padding-right: 10px;
  }
  .section2-right-side h1 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
  }
  .section2-right-side p {
    margin-bottom: 16px;
    color: #444343;
  }
  /* My plans  */
  .my-plans{
    text-align: center;
  }
.section-title{
    
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    margin-top: 130px;
}
  .skills-container{
    display: flex;
    gap: 86px;
   margin-left: 290px;
   margin-right: 180px;
    margin-bottom: 130px;
}
.skill-title{
    color: #151414;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 16px;
}
/* mindset part  */
.mindset{
    display: flex;
    background-position: center;
    background-image: url('../images/watch.png');
    margin-left: 200px;
    border-radius: 8px;
    width: 1140px;
    height: 300px;
    position: relative;
    margin-bottom: 130px;
   
}
.gradient-up-content {
    position: absolute;
    padding-right: 500px;
}
.gradient-up-content h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    margin-top: 55px;
    margin-left: 64px;
}
.gradient-up-content .btn-primary{
    margin-left: 65px;
    margin-top: 24px;
}
/* final-part  */
.future-content-full{
    width: 1500px;
    height: 577px;
    background: #151414;
}
.future-content{
    display: flex;
    gap: 350px;
    margin-left: 230px;
    margin-right: 230px;
   
    
}
.section-future{
    margin-top: 137px;
   margin-bottom: 200px;
}
.section-future-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}
.section-future p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 17px;
    margin-bottom: 22px;
}
.btn{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 23px;
    height: 50px;
    border-radius: 5px;
    background: #005FAC;
}
.subscribe-title{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
}
.email-space{
    background-color: #151414;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    width: 325px;
    height: 64px;
    margin-top: 32px;
    margin-bottom: 16px;
}
.subscribe{
    width: 325px;
    height: 204px;
    margin-top: 137px;
   margin-bottom: 200px;
}